<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pixelbin>
            <pixelbin_setup>
                <pixelbin_image_sync>
                    <image_sync_time>*/5 * * *</image_sync_time>
                    <enable_manual_sync_cron>1</enable_manual_sync_cron>
                </pixelbin_image_sync>
            </pixelbin_setup>
            <lazyload>
                <lazyload_enabled>1</lazyload_enabled>
                <threshold>500</threshold>
                <effect>fadeIn</effect>
                <placeholder>blur</placeholder>
            </lazyload>
            <extensions>
                <vector>
                    <svg>svg</svg>
                    <svg_xml>svg+xml</svg_xml>
                </vector>
                <web_image>
                    <webp>webp</webp>
                </web_image>
            </extensions>
        </pixelbin>
        <dev>
            <image>
                <adapters>
                    <GD2>
                        <class>Pixelbinio\Pixelbin\Model\Image\Adapter\Gd2</class>
                    </GD2>
                </adapters>
            </image>
        </dev>
    </default>
</config>
